ADMIN_EMAIL=sampleemail@gmail.com
ADMIN_EMAIL_PASSWORD=email_pass
DATABASE_URL=db_url
DB_HOST=localhost
DB_PASS=password
DB_PORT=5432
DB_USER=username
DB_NAME=db_name
FLASK_CONFIG_ENV=development
FLASK_APP=run.py
SECRET_KEY=secret_key